body {
    background-image: url(/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_452981.jpg
);
    background-position: 0%;
}

/*  adding css to li of leader board */
.li-js-style {
    list-style-type: none;
}

/* download report button in premium user only */
.downloaButton {
    width: 40px;
    height: 40px;
    background-image: url('/Images//download-icon-download-sign-and-symbol-700-275474744.jpg');
    border: none;
    background-size: cover;
    border-radius: 30px;
}

#download-button:hover {
    border: 2px solid white;
}

/*  log out button */
#signOut-button {
    width: 40px;
    height: 40px;
    background-image: url('/Images/logout.jpg');
    background-size: cover;
    border: none;
    margin-right: 20px;
}
