body{
    background-color: #ebebeb;
}
header{
    background-color: rgb(35, 17, 74);
    color: white;
    height: 60px;
}
header h1{
    text-align: center;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
.input{
    border: 2px solid pink;
    border-radius: 15px;
}