 body{
    background-color: #f1f0f0;
}
.image{
    border-radius: 25px;
    margin: auto;
 
}
.input{
    border: 2px solid pink;
    background-color: #ffffff;
}
.nav-h2{
    color: #ffffff;
   
} 
 

